## Dependencies 

## Utilities
python-dateutil==2.5.2
six==1.10.0

## Testing
## Uncomment and install for development
#nose==1.3.7
#coverage==4.0.3
#mock==2.0.0
#funcsigs==1.0.0
#ordereddict==1.1
#pbr==1.9.1

## Building
## Uncomment and install for deployment
#wheel==0.29.0

## Pip Freeze Stuff
#Python==2.7.10
#pip==8.1.1
#setuptools==20.9.0
#wsgiref==0.1.2
